h1{
  text-align: center;
  color: #fff;
  margin: 100px;
}
.container-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the icons */
  width: 70%; /* Set container width to 70% */
  margin: 0 auto; /* Center the container horizontally */
  margin-bottom: 3rem;
  color: #fff;

}

/* Individual icon boxes */
.box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 calc(20% - 10px); /* 20% width for 5 items per row, minus gap */
  
}

/* Icons */
.box-icon i,
.container-img-i img {
  font-size: 50px; /* Adjust icon size as needed */
  margin-bottom: 10px; /* Space between icon and text */
}


/* Adjust icon and text sizes for smaller screens */
@media (max-width: 768px) {
  .box-icon {
    flex: 1 1 calc(25% - 10px); /* 25% width for 4 items per row on smaller screens */
  }

  .box-icon i,
  .container-img-i img {
    font-size: 40px; /* Adjust icon size for smaller screens */
  }

  .box-icon p {
    font-size: 12px; /* Adjust text size for smaller screens */
  }
}

