<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
</head>
<section id="skills">
  <h1>Skills & Tools</h1>
  <div class="container-icons">
    <div class="box-icon">
      <i class="devicon devicon-html5-plain" aria-hidden="true"></i>
      <p>HTML5</p>
    </div>
    <div class="box-icon">
      <i class="devicon devicon-css3-plain" aria-hidden="true"></i>
      <p>CSS3</p>
    </div>
    <div class="box-icon">
      <i class="devicon-typescript-plain" aria-hidden="true"></i>
      <p>TypeScript</p>
    </div>
    <div class="box-icon">
      <i class="devicon-angular-plain" aria-hidden="true"></i>
      <p>Angular</p>
    </div>
    <div class="box-icon">
      <i class="devicon-bootstrap-plain" aria-hidden="true"></i>
      <p>Bootstrap</p>
    </div>
    <div class="box-icon">
      <i class="devicon-python-plain" aria-hidden="true"></i>
      <p>Python</p>
    </div>
    <div class="box-icon">
      <i class="devicon devicon-github-plain" aria-hidden="true"></i>
      <p>Github</p>
    </div>
    <div class="box-icon">
      <i class="fas fa-cogs" aria-hidden="true"></i>
      <p>RESTful APIs</p>
    </div>
    <div class="box-icon">
      <i class="devicon-java-plain" aria-hidden="true"></i>
      <p>Java</p>
    </div>
    <div class="box-icon">
      <i class="fas fa-terminal" aria-hidden="true"></i>
      <p>Command Line</p>
    </div>
    <div class="box-icon">
      <i class="devicon-postgresql-plain" aria-hidden="true"></i>
      <p>PostgreSql</p>
    </div>
    <div class="box-icon">
      <i class="devicon devicon-wordpress-plain" aria-hidden="true"></i>
      <p>WordPress</p>
    </div>
    <div class="box-icon">
      <i class="devicon-mysql-original" aria-hidden="true"></i>
      <p>Mysql</p>
    </div>
    <div class="box-icon">
      <i class="devicon-ubuntu-plain" aria-hidden="true"></i>
      <p>Ubuntu</p>
    </div>
    <div class="box-icon">
      <i class="devicon-eclipse-plain-wordmark" aria-hidden="true"></i>
      <p>Eclipse</p>
    </div>
  </div>
</section>
