
h1{
  text-align: center;
  margin: 100px;
  color: white;
}
span {
  border-radius: 5px;
  padding: 3px 5px;
};
.card-title{
  color: white;
}
p{
  color: white;
}
.card {
  background-color: transparent;
  border-color:white ;
  a {
    padding-right: 15px;
    text-decoration: none;
  } 
}
.btn{
  margin-right:4px ;
  color: white;
}
.text-muted{
  color: white !important;
}