
h1{
  text-align: center;
  margin: 100px;
  color: white;
}


.card-title{
  color: white;
}
p{
  color: white;
}
.card {
  background-color: transparent;
  border:#eee solid;
   
  a {
    padding-right: 15px;
    text-decoration: none;
  } 
}
.btn{
  margin-right:4px ;
  color: white;
  border-radius: 1;

 
}
.text-muted{
  color: white !important;
  padding: 0;
  margin: 0;
}