<div class="timeline" style="--items: 7;" >
 <h1>Education</h1>
  <ul>
    <li style="--index: 1">
      <h3>2019</h3>
      <p><b>Mehdi El Mandjra</b><br>
        Baccalaureate in Physical Sciences        
      </p>
    </li>
    <li style="--index: 2">
      <h3>2020</h3>
      <p><b>FSR Rabat</b><br>
        1 year SMPC major</p>
    </li>
    <li style="--index: 3">
      <h3>2021</h3>
      <p><b>Ecole Supérieure de Technologie-Sale</b><br>
        Preparing for a University Diploma of Technology (DUT) in Software Engineering.
      </p>
    </li>
    <li style="--index: 4">
      <h3>2022</h3>
      <p><b>Ecole Supérieure de Technologie-Sale</b><br>
        Obtaining a University Diploma of Technology (DUT) in Software Engineering</p>
    </li>
    <li style="--index: 5">
      <h3>2023</h3>
      <p><b>Mohammed V University</b><br>
        Obtaining Professional Bachelor's Degree in Information Systems and Data Analysis.
      </p>
    </li>
    <li style="--index: 6">
      <h3>2024</h3>
      <p><b>This is Future!</b><br>
      </p>
    </li>
    <li style="--index: 7">
      <h3>2025</h3>
      <p><b>This is Future!</b><br>
      </p>
    </li>
  </ul>
</div>