<section class="container-fluid text-dark vh-100 d-flex align-items-center justify-content-center hero-section" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4">Hi, I'm <span class="text-primary">Badr Eddine Zaim</span></h1>
        <p class="lead"><b>Software engineer with a passion for solving complex problems.I have experience with a variety of web development tools and techniques, I am also a team player and I am always willing to go the extra mile to help my colleagues. I am constantly learning new technologies and I am always looking for ways to improve my skills and knowledge. I am excited to find a new opportunity where I can use my skills to make a positive impact.</b></p>
        <div class="btn-group mt-4" role="group" aria-label="Social media links">
          <a href="https://github.com/zaim001" target="_blank" class="btn btn-outline-dark btn-lg">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://twitter.com/" target="_blank" class="btn btn-outline-dark btn-lg">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="https://linkedin.com/in/badr-eddine-zaim" target="_blank" class="btn btn-outline-dark btn-lg">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://codepen.io/" target="_blank" class="btn btn-outline-dark btn-lg">
            <i class="fab fa-codepen"></i> CodePen
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-down">
   <a href="#education" style="color: white;"> <i class="fas fa-chevron-down"></i></a>
  </div>
</section>




