@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  font-family:"Bungee Hairline"
}
p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.btn {
  color: white;
  border-color: white;
}

.hero-section {
 position: relative;
 top:0;

  .container {
    font-family: Calibre, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    margin-top: -200px;
    
  }
}

/* Adjust margin for smaller screens if needed */
@media (max-width: 768px) {
  .hero-section {
    padding-top: 20px; /* Adjust margin for smaller screens */
    margin-top: 20px;
  }
}
.scroll-down {
  position: absolute;
  bottom: 150px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px; 
  color: white;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 1008px) {
  .scroll-down {
    display: none;
  }
}

