@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  font-family:"Bungee Hairline"
}
p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.btn {
  color: white;
  border-color: white;
}

.hero-section {
 position: relative;
 top:0;

  .container {
    display: flex;
    justify-content: flex-start;
    margin-top: -200px;
  }
}

/* Adjust margin for smaller screens if needed */
@media (max-width: 800px) {
  .hero-section {
    position: fixed;
    padding: 80px 10px; /* Adjust margin for smaller screens */
    right: 2.7rem;
    display: flex;
    justify-content: flex-start;  
  }
}

.scroll-down {
  position: absolute;
  bottom: 150px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px; 
  color: white;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 1500px) {
  .hero-section {
    padding-top: 0rem;
    position: relative;
    top: 0rem;
  }
  .scroll-down {
    display: none;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
   .hero-section {
    padding-top: 10rem;
  }
  h1{
    font-size:180%;
    padding-right: 68px;
  }
  p{
    font-size:1rem;
    padding-right: 50px;
  }
  .btn-group{
    padding-right: 20px;
    position: relative;
    right: 10px;
  }
}

