
section{
  margin-top: -230px;
  margin-bottom: -200px;
}

h1{
  color: white;
  margin-bottom: 20px;
}
p{
  color: white;
}
.btn{
  color: white;
  border-color: aliceblue;
}

.hero-section .container {
  font-family: Calibre,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
  display: flex;
  justify-content: flex-start;
  
}
