<footer>
    <section class="fixed-bottom fixed-right">
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a  href="https://github.com/zaim001" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a  href="https://www.linkedin.com/in/badr-eddine-zaim/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a  href="#" target='_blank' style="text-decoration: none;">badreddinezaim1&#64;gmail.com</a>
        </div>
    </section>
    <div class="text-center w-full sm:w-auto" >
        © 2024. All rights reserved.
      </div>
</footer>